.scBtnGrpBackground { background-color: #fff; border-color: #fff; border-width: 0; border-collapse: collapse; padding: 0; z-index: 99999; text-align: left }
.scBtnGrpText { background-color: #fff; padding: 4px 25px 4px 15px }
.scBtnGrpTextOver { background-color: #FFF6B2 }
.scBtnGrpLink { color: #000000; font-family: Verdana, Geneva, sans-serif; font-size: 12px; text-decoration: none }
